<layout name="layout" />
<article class="page-container">
	<form class="form form-horizontal" id="form-admin-add" action="__SELF__" method="post">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>管理员：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="" placeholder="" name="username" nullmsg="请输入用户名" datatype="s5-18" ajaxurl="{:U('Admin/check_admin')}" errormsg="用户名至少5个字符,最多18个字符！">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>初始密码：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="password" class="input-text" autocomplete="off" value="" placeholder="密码" id="password" name="password"  plugin="passwordStrength"  datatype="*6-18" nullmsg="请填写密码！" errormsg="密码至少6个字符,最多18个字符！">
		</div>
		
	</div>
	<div  class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>&nbsp;</label>
		<div class="formControls col-xs-8 col-sm-9">
			<div class="passwordStrength"><b>密码强度：</b> <span>弱</span><span>中</span><span class="last">强</span></div>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="password" class="input-text" autocomplete="off"  placeholder="确认新密码" id="password2" name="password2"  datatype="*" recheck="password" nullmsg="请再输入一次密码！" errormsg="您两次输入的账号密码不一致！">
		</div>
	</div>
	
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" placeholder="@" name="email" datatype="e" >
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">是否启用：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="radio-box">
					<input type="radio" id="sex-1" name="status" value="1" checked>
						<label for="sex-1">启用</label>
				</div>
				<div class="radio-box">
					<input type="radio" id="sex-2" name="status" value="0">
						<label for="sex-2">禁用</label>
				</div>
			</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">角色：</label>
		<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
			<select class="select" name="role_id[]" size="1" datatype="*" nullmsg="请选择角色权限！" errormsg="请选择角色权限！">
				<option value="">请选择角色权限</option>
				<volist name="roleData" id="v">
				<option value="{$v.id}">{$v.role_name}</option>
				</volist>
			</select>
			</span> </div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">备注：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<textarea name="remark" cols="" rows="" class="textarea"  placeholder="说点什么...100个字符以内" dragonfly="true" onKeyUp="textarealength(this,100)"></textarea>
			<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
		</div>
	</div>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
		</div>
	</div>
	</form>
</article>



<script type="text/javascript" src="__ADMIN_LIB__/Validform/5.3.2/passwordStrength-min.js"></script>
<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript">
$(function(){
	$("#form-admin-add").Validform({
		tiptype:4,
		ajaxPost:true,
		usePlugin:{
			passwordstrength:{
				minLen:6,//设置密码长度最小值，默认为0;
				maxLen:18,//设置密码长度最大值，默认为30;	
			}
		},
		callback:function(data){ 
			if(data.status == 1){ 
				layer.msg('添加成功', { icon: 1, time: 2000 ,shade: 0.5},function(){
						parent.window.location.href= "{:U('Admin/index')}";
						var index = parent.layer.getFrameIndex(window.name);
						parent.layer.close(index);
						});
			} else {
				layer.msg('添加失败！', {icon: 2, time: 2000,shade: 0.5 });
			}
		} 

	});
});
</script> 
<!--/请在上方写此页面业务相关的脚本-->
