<layout name="layout" />

<nav class="breadcrumb">
<i class="Hui-iconfont">&#xe67f;</i> 首页 
<span class="c-gray en">&gt;</span> 管理员管理 
<span class="c-gray en">&gt;</span> 管理员列表 
<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c">
		<form class="Huiform" method="get" action="__ACTION__" >
			<input type="text" class="input-text" style="width:250px" placeholder="管理员名称" name="name" value="<?php echo I('get.name')?>">
			<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜管理员</button>
		</form>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"> <a href="javascript:;" onclick="admin_add('添加管理员','{:U('Admin/add')}','800','500')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加管理员</a></span> </div>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="9">员工列表</th>
			</tr>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="40">ID</th>
				<th width="150">登录名</th>
				<th width="150">邮箱</th>
				<th>角色</th>
				<th width="130">加入时间</th>
				<th width="100">是否已启用</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
		<volist name="data" id="v">
			<tr class="text-c">
				<td><input type="checkbox" value="1" name=""></td>
				<td>{$v.id}</td>
				<td>{$v.username}</td>
				<td>{$v.email}</td>
				<td>{$v.role_name}</td>
				<td>{$v.last_login_time|date='Y-m-d h-i',###}</td>
				<td class="td-status">
					<eq name="v.status" value="1">
						<span class="label label-success radius" >已启用</span><else/>
						<span class="label label-default radius" >已禁用</span>
					</eq>

				</td>
				<td class="td-manage">
				<eq name="v.status" value="1">
						<a style="text-decoration:none" onClick="admin_stop(this,'{$v.id}')" href="javascript:;" title="禁用"><i class="Hui-iconfont">&#xe6de;</i></a><else/>
						<a style="text-decoration:none" onClick="admin_start(this,{$v.id})" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe603;</i></a>
					</eq>
				<a title="编辑" href="javascript:;" onclick="admin_edit('管理员编辑','{:U('Admin/edit',array('id'=>$v['id']))}','{$v.id}','800','500')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> 
				<a title="删除" href="javascript:;" onclick="admin_del(this,'{$v.id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
			</tr>
		</volist>
		</tbody>
	</table>
	{$page}
</div>


<script type="text/javascript">
/*
	参数解释：
	title	标题
	url		请求的url
	id		需要操作的数据id
	w		弹出层宽度（缺省调默认值）
	h		弹出层高度（缺省调默认值）
*/
/*管理员-增加*/
function admin_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*管理员-删除*/
function admin_del(obj,id){
	layer.confirm('确认要删除吗？',{
		icon: 3,
		title: '提示信息',
		btn: ['是的','取消'], //按钮
		shade: [0.4, '#393D49']
	},function(){
		//此处请求后台程序，下方是成功后的前台处理……
		$.get("{:U('Admin/delete')}", { "id": id },function(data){
			if(data==1){
				layer.msg('删除成功', { icon: 1, time: 2000 ,shade: 0.5},function(index){
					$(obj).parents("tr").remove();
				});
			}else{
				layer.msg('删除失败，原始超级管理员不允许删除', {icon: 2, time: 2000,shade: 0.5 }); 
			}
			 
		}, "json");
		
	});
}
/*管理员-编辑*/
function admin_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*管理员-停用*/
function admin_stop(obj,id){
	layer.confirm('确认要禁用吗？',{
		icon: 3,
		title: '提示信息',
		btn: ['是的','取消'], //按钮
		shade: [0.4, '#393D49']
	},function(){
		$.get("{:U('Admin/stop')}", { "id": id },function(data){
			if (data == 1) {

				layer.msg('已禁用!',{icon: 5,time:1000},function(index){

					$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="admin_start(this,id)" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
					$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已禁用</span>');
					$(obj).remove();
					location.reload();
				}, "json");	
			}else if (data == 2) {
				layer.msg('原超级管理员不允许禁用！',{icon:2,time:1000});
			};
		})
		
	})
}

/*资讯-发布*/
function admin_start(obj,id){
	layer.confirm('确认要启用吗？',{
		icon: 3,
		title: '提示信息',
		btn: ['是的','取消'], //按钮
		shade: [0.4, '#393D49']
	},function(){
		$.get("{:U('Admin/start')}", { "id": id },function(data){
			if (data == 1) {
				layer.msg('已启用!',{icon: 6,time:1000},function(index){
					$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="admin_stop(this,id)" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>');
					$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
					$(obj).remove();
					location.reload();

					
				}, "json");
			}
		})
	});
}
</script>