

<script type="text/javascript" src="__ADMIN_LIB__/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__ADMIN_LIB__/layer/2.1/layer.js"></script>
<script type="text/javascript" src="__ADMIN_LIB__/icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript" src="__ADMIN_LIB__/jquery.validation/1.14.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="__ADMIN_LIB__/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__ADMIN_LIB__/jquery.validation/1.14.0/messages_zh.min.js"></script>
<script type="text/javascript" src="__ADMIN_LIB__/Validform/5.3.2/Validform.js"></script>
<script type="text/javascript" src="__ADMIN_STATIC__/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="__ADMIN_STATIC__/h-ui.admin/js/H-ui.admin.js"></script> 