 <layout name="layout" />


  <div class="page-content">
      
      <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
      
      <!-- END STYLE CUSTOMIZER -->
      <!-- BEGIN PAGE HEADER-->
      <h3 class="page-title">
      企业公告管理
      </h3>
      <div class="page-bar">
        <ul class="page-breadcrumb">
          <li>
            <i class="fa fa-home"></i>
            <a href="#">首页</a>
            <i class="fa fa-angle-right"></i>
          </li>
          <li>
            企业公告管理
          
          </li>
          
        </ul>
        
      </div>
      
      <!--中间部分-->
      <!-- BEGIN PAGE CONTENT-->
       <div class="tabbable-custom tabbable-full-width">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="{:U('Confbull/add')}" ><i class="fa fa-tags"></i>新建企业公告</a>
				</li>
			</ul>
			<div class="portlet-body form" >
				<form class="form-horizontal " action="__SELF__" method="post" id="myform">
					<input type="hidden" name="conf_id" value="<?php echo I('get.id');?>" />
						 <div class="form-body">
							<div class="form-group">
								<label class="col-md-3 control-label">企业公告标题</label>
								<div class="col-md-8">
									<input type="text" class="form-control"  name="title"  placeholder="请输入企业公告标题" datatype="*" nullmsg="公告企业标题不能为空" errormsg="请输入公告标题"   value="">
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label">企业公告内容</label>
								<div class="col-md-8" style="width:90%">
									<textarea type="text" id="UMeditor" name="content" value="" style="z-index:999"></textarea>
								</div>	
								
							</div>
							
							
						 </div>
					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-3 col-md-9">
								<button type="submit" class="btn green btn-lg" id="save">提交</button>
								<button type="reset" class="btn default btn-lg">重置</button>
							</div>
						</div>
					</div>
					</form>

			</div>
        
		<!-- END PAGE CONTENT-->
            <!--中间部分-->
          
    </div>
  </div>

<!----编辑器设置s---> 
<link href="__STATICS__/ueditor/themes/default/css/dialogbase.css" type="text/css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" src="__STATICS__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__STATICS__/ueditor/ueditor.all.js"></script>
<script type="text/javascript" src="__STATICS__/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
UE.getEditor('UMeditor', {
	initialFrameWidth : "75%",
	initialFrameHeight : 260
});

  
</script>
<!----编辑器设置e--->
  <script>
 $(function() {     

	$("#myform").Validform({
		tiptype:4,
		label:".label",
		showAllError:true,		
	});
});
	
</script>
<include file="Public/footer" />


  
  
  
  