@charset "utf-8";
/* 你自己的样式 */
/****分页****/
  #page{
		height:40px;
		padding:20px 0px;
	}
	#page a{
		display:block;
		float:left;
		margin-right:10px;
		padding:2px 12px;
		height:24px;
		border:1px #cccccc solid;
		background:#fff;
		text-decoration:none;
		color:#808080;
		font-size:12px;
		line-height:24px;
	}
	#page a:hover{
		color:#077ee3;
		border:1px #077ee3 solid;
	}
	#page p.current{
		border:none;
		background:#077ee3;
		color:#fff;
	}
	#page p{
		float:left;
		padding:2px 12px;
		font-size:12px;
		height:24px;
		line-height:24px;
		color:#bbb;
		border:1px #ccc solid;
		background:#fcfcfc;
		margin-right:8px;

	}
	#page p.pageRemark{
		border-style:none;
		background:none;
		margin-right:0px;
		padding:4px 0px;
		color:#666;
	}
	#page p.pageRemark b{
		color:red;
	}
	#page p.pageEllipsis{
		border-style:none;
		background:none;
		padding:4px 0px;
		color:#808080;
	}
	.dates li {font-size: 14px;margin:20px 0}
	.dates li span{float:right}

	
.pagination ul {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}
.pagination ul li {
  display: inline;
}

.pagination ul li.rows {
    line-height: 30px;
    padding-left: 5px;
}
.pagination ul li.rows b{color: #f00}

.pagination ul li a, .pagination ul li span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #fff;
    background: url('../images/bottom_bg.png') 0px 0px;
    border: 1px solid #d3dbde;
    /*border-left-width: 0;*/
    margin-left: 2px;
    color: #08c;
}
.pagination ul li a:hover{
    color: red;
    background: #0088cc;
}
.pagination ul li.first-child a, .pagination ul li.first-child span {
    border-left-width: 1px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-topleft: 3px;
}
.pagination ul .disabled span, .pagination ul .disabled a, .pagination ul .disabled a:hover {
color: #999;
cursor: default;
background-color: transparent;
}
.pagination ul .active a, .pagination ul .active span {
color: #999;
cursor: default;
}
.pagination ul li a:hover, .pagination ul .active a, .pagination ul .active span {
background-color: #f0c040;
}
.pagination ul li.last-child a, .pagination ul li.last-child span {
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
}

.pagination ul li.current a{color: #f00 ;font-weight: bold; background: #ddd}
