<layout name="layout" />


	<div class="page-content">
			
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			
			<!-- END STYLE CUSTOMIZER -->
			<!-- BEGIN PAGE HEADER-->
			<h3 class="page-title">
			二级账户管理
			</h3>
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="#">首页</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						二级账户管理
					
					</li>
					
				</ul>
				
			</div>
			
			<!--中间部分-->
			<!-- BEGIN PAGE CONTENT-->
			 <div class="tabbable-custom tabbable-full-width">
						<ul class="nav nav-tabs">
							<li class="active">
								<a href="JavaScript:;" ><i class="fa fa-tags"></i>添加二级账户</a>
							</li>
						</ul>
                	<div class="portlet-body form" >
                     
						<form class="form-horizontal"   action="" method="post" id="myform" enctype='multipart/form-data'>
							<div class="form-body">
								
								<div class="form-group">
								<input  type="hidden" name="level" value="2" />
									<label class="col-md-3 control-label">用户名</label>
									<div class="col-md-9">
										<input type="text" class="form-control"  name="username" value="" datatype="/^(?!(?:\d+|[a-zA-Z]+)$)[\da-zA-Z]{6,}$/"  nullmsg="请输入二级账户用户名,字符在6-30个之间" errormsg="请输入数字字母组合的用户名，字符在6-30个之间">
										<span style="color:red"></span>
									</div>
								</div>
								<div class="form-group">
								
									<label class="col-md-3 control-label">用户备注</label>
									<div class="col-md-9">
										<input type="text" class="form-control"  name="remark" value="" datatype="*"  nullmsg="备注信息不能为空" errormsg="请输入二级账户备注信息">
										<span style="color:red"></span>
									</div>
								</div>
								<div class="form-group">
								
									<label class="col-md-3 control-label">绑定手机号</label>
									<div class="col-md-9">
										<input type="text" class="form-control"  name="phone" value="" datatype="m"  nullmsg="手机号不能为空" errormsg="请正确输入二级账户手机号">
										
									</div>
									<div class="col-md-4">
									 <input id="btnSendCode" type="button" class="btn btn-default" value="发送验证码" onclick="sendMessage()" />
									</div>
								</div>
								<div class="form-group">
								
									<label class="col-md-3 control-label">短信验证码</label>
									<div class="col-md-9">
										<input type="text" class="form-control"  name="check_code" value="" datatype="*"  nullmsg="验证码不能为空" errormsg="请正确输入验证码">
										
										
										
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">密码</label>
									<div class="col-md-9">
										<input type="password" class="form-control"  name="password" autocomplete="new-password"  value="" datatype="s9-30" nullmsg="密码不能为空" errormsg="请输入二级账户密码，字符在9-30个之间">
										
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">确认密码</label>
									<div class="col-md-9">
										<input type="password" class="form-control"  name="password2" autocomplete="new-password"  value="" datatype="s9-30" recheck="password" nullmsg="请再输入一次密码！" errormsg="您两次输入的账号密码不一致！">
										
									</div>
								</div>
							</div>	
							<div class="form-actions">
								<div class="row">
									<div class="col-md-offset-3 col-md-9">
										<button type="submit" class="btn green btn-lg" id="save">提交</button>
								<button type="reset" class="btn default btn-lg">重置</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				
			<!-- END PAGE CONTENT-->
            <!--中间部分-->
          
		</div>
	</div>
	<!-- END CONTENT -->
	
</div>
<script type="text/javascript">
$(function() {     
	$("#myform").Validform({
		tiptype:4,
		showAllError:true,
		ajaxPost:true,
		callback:function(data){ 
			if(data.status == 1){ 
				layer.msg(data.info, { icon: 1, time: 3000 ,shade: 0.5},function(){
					window.location.href= "{:U('User/accountList')}";
						
				});
			} else if(data.status == 2){ 
				layer.confirm(data.info, { btn: ['确定','取消']},function(){
					window.location.href= "{:U('User/accountList')}";	
				});
			} else if(data.status == 3){ 
			
				layer.msg(data.info, {icon: 2, time: 3000,shade: 0.5 },function(){
					window.location.reload();
					});
			}else if(data.status == 4){ 
				layer.confirm(data.info, { btn: ['确定','取消']},function(){
					window.location.href= "{:U('User/accountList')}";	
				});
			} else if(data.status == 5){ 
			
				layer.msg(data.info, {icon: 2, time: 3000,shade: 0.5 },function(){
					window.location.reload();
					});
			} else {
				
				layer.msg(data.info, { icon: 2, time: 3000 ,shade: 0.5});
				
			}
		} 
	});
	
})		
</script>
<script type="text/javascript">

var InterValObj; //timer变量，控制时间
var count = 60; //间隔函数，1秒执行
var curCount;//当前剩余秒数

function sendMessage() {
	
	var telephone=$("input[name='phone']").val();
	//验证手机号格式
	var mobile = /^1([3456789]\d|4[57])\d{8}$/;
	if(telephone && mobile.test(telephone)){
		curCount = count;
		　　//设置button效果，开始计时
		     $("#btnSendCode").attr("disabled", "true");
		     $("#btnSendCode").val("请在" + curCount + "秒内输入验证码");
		     InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次
		　　  //向后台发送处理数据
		     $.ajax({
		     　　type: "POST", //用POST方式传输
		     　　dataType: "JSON", //数据格式:JSON
		     　　url: "{:U('User/checkphone')}", //目标地址
		    　　 data: {phone:telephone},
		    　　 error: function (XMLHttpRequest, textStatus, errorThrown) {
					console.log(XMLHttpRequest);
					console.log(textStatus);
					console.log(errorThrown);
				},
		     　　success: function (msg){
					if(msg == null){
						layer.msg('服务器错误');
						return ;
					}
					if(msg !== 1){
						layer.msg('发送失败');
						return;
					}
					layer.msg('发送成功');
				}
		     });
	}else{
		console.log('请输入手机号');
		$("[name='phone']").focus();
		return false;
	}
	
  　
}

//timer处理函数
function SetRemainTime() {
	if (curCount == 0) {                
		window.clearInterval(InterValObj);//停止计时器
		$("#btnSendCode").removeAttr("disabled");//启用按钮
		$("#btnSendCode").val("重新发送验证码");
	}
	else {
		curCount--;
		$("#btnSendCode").val("请在" + curCount + "秒内输入验证码");
	}
}
</script>
<include file="Public/footer" />


	
	
	
	