<layout name="layout" />

<link href="__HOME_CSS__/components.css" rel="stylesheet" type="text/css" />
<div class="page-content">
		
		<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
		
		<!-- END STYLE CUSTOMIZER -->
		<!-- BEGIN PAGE HEADER-->
		<h3 class="page-title">
		企业资料
		</h3>
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<i class="fa fa-home"></i>
					<a href="#">首页</a>
					<i class="fa fa-angle-right"></i>
				</li>
				<li>
					企业资料
				
				</li>
				
			</ul>
			
		</div>
			
			<!--中间部分-->
			<!-- BEGIN PAGE CONTENT-->
	 <div class="tabbable-custom tabbable-full-width">
				<ul class="nav nav-tabs">
					<li class="">
						<a href="{:U('User/info')}" ><i class="fa fa-tags"></i>基本资料</a>
					</li>
					<li  class="   ">
						<a href="{:U('User/password')}"><i class="fa fa-tag"></i> 修改密码 </a>
					</li>
					<!-- <li  class=" active  ">
						<a href="{:U('User/oauth')}"><i class="fa fa-tag"></i> 账号绑定 </a>
					</li> -->
					<li  class=" ">
						<a href="{:U('User/details')}"><i class="fa fa-bell"></i> 详情 </a>
					</li>
				</ul>
				
				 
			<div class="portlet-body form" >
			 
		
				<form class="form-horizontal"   action="" method="post" id="form" enctype='multipart/form-data'>
					<div class="form-body">
						<div class="form-group">
							<label class="col-md-3 control-label">账户</label>
							<div class="col-md-9">
								<input type="text" class="form-control"  name="username" value="{$data.username}">
								
							</div>
							<div class="col-md-9">
								
									<li class="form-control-static">
										<a class="social-icon-color weibo" href="{:U('Login/oauth_login',array('type'=>'sina'))}"  title="使用新浪微博帐号登录"></a>
									</li>
								
							</div>
						</div>
						
					   
						
					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-3 col-md-9">
								<button type="submit" class="btn green" id="save">保存数据</button>
								<button type="reset" class="btn default">恢复默认</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		
	<!-- END PAGE CONTENT-->
	<!--中间部分-->
  
		</div>
	</div>
	<!-- END CONTENT -->
	
</div>
<include file="Public/footer" />


	
	
	
	