<layout name="layout" />

<link rel="stylesheet" type="text/css" href="__HOME_CSS__/amazeui.min.css"/>
<link rel="stylesheet" type="text/css" href="__HOME_CSS__/amazeui.address.css" />
<!-- 日期时间插件 -->

<script src="__LAYDATE__/laydate.js"></script> 
<script>
//执行一个laydate实例
laydate.render({
  elem: '.form-datetime',
  type: 'datetime',
  format: 'yyyy-MM-dd HH:mm:ss'
});
laydate.render({
  elem: '.form-datetime1',
  type: 'datetime',
  format: 'yyyy-MM-dd HH:mm:ss'
});


</script>
<!-- 日期时间插件 -->
<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i> 首页
	 <span class="c-gray en">&gt;</span> 会议管理 
	 <span class="c-gray en">&gt;</span> 会议列表 
	 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
	 <i class="Hui-iconfont">&#xe68f;</i>
	 </a>
 </nav>
<div class="page-container">
	<div class="text-c"> 
	<form class="Huiform layui-form" method="get" action="__ACTION__" >
	 <span class="select-box inline">
		<select name="utype" class="select">
			<option value="" >请选择会议类型</option>
			<volist name="cate" id="c">
				<option value="{$c.id}" <?php $utype=I('get.utype'); if($utype==$c['id']){ ?> selected="selected" <?php }?>>{$c.catename}</option>
			</volist>
		</select>
	</span>
	日期范围：
		<input type="text" onfocus="" id="datemin" name="ctime" value="<?php echo I('get.ctime')?>"  class="input-text Wdate form-datetime" style="width:120px;">
		-
		<input type="text" onfocus="" id="datemin" name="etime" value="<?php echo I('get.etime')?>" class="input-text Wdate form-datetime1" style="width:120px;">
		省份查询：
		<span class="inline" id="address2">
		<input type="text" class="input-text"  style="width:250px" placeholder="" name="addr" value="<?php echo I('get.addr')?>">
		</span>
		<input type="text" class="input-text" style="width:250px" placeholder="输入会议标题" id="" name="title" value="<?php echo I('get.title')?>" />
		
		<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜会议</button>
	</form>
	</div>
	
	<div class="mt-20">
	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="85">ID</th>
				<th width="100">会议标题</th>
				<th width="80">会议类型</th>
				<th width="78">发布者</th>
				<th>举办方</th>
				<th width="78">联系电话</th>
				<th>起始时间</th>
				<th>签到时间</th>
				<th>举办地址</th>
				<th>会议状态</th>
				<th width="50">是否审核</th>
				<th width="25">操作</th>
			</tr>
		</thead>
		<tbody>
		<empty name="data">
			<tr class="text-l">
				<td colspan="11">
				<blockquote>搜索结果：<p class="Huialert Huialert-error">没有查到您搜索的数据</p></blockquote>
				</td>
			</tr>
		<else/>
		<volist name="data" id="v">
			<tr class="text-c">
				<td><input type="checkbox" value="1" name=""></td>
				<td>{$v.id}</td>
				<td>{$v.title}</td>
				<td>{$v.catename}</td>
				<td>{$v.username}</td>
				<td class="text-l">{$v.companyname}</td>
				<td><if condition="$v['email'] eq ''">{$v.phone}<else /> {$v.email}</if></td>
				<td>{$v.ctime|strtotime|date="Y-m-d H:i",###}至<br/>{$v.etime|strtotime|date="Y-m-d H:i",###}</td>
				<td class="text-l">{$v.qtime|strtotime|date="Y-m-d H:i",###}</td>
				<td class="text-l">{$v.address}{$v.xxaddress}</td>
				<td>
					<eq name="v.statuses" value="0">
						<span class="label label-success radius" >进行中</span><else/>
						<span class="label label-default radius" >已结束</span>
					</eq>
				</td>
				<td>
					<eq name="v.is_user" value="1">
						<span class="label label-success radius" >是</span><else/>
						<span class="label label-default radius" >否</span>
					</eq>
				</td>
			
				<td class="td-manage">
				<a title="删除" href="javascript:;" onclick="member_del(this,'{$v.id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
			</tr>
		</volist>
		</empty>
		</tbody>
	</table>
	{$page}
	</div>
</div>
<script src="__HOME_JS__/amazeui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__HOME_JS__/iscroll.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__HOME_JS__/address.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
$(function() {
	document.addEventListener('touchmove', function (e) {
		e.preventDefault();
	}, false);

	//城市多级联动
	$("#address2").address({
		prov: "北京石",
		city: "北京市",
		district: "景山区",
		scrollToCenter: true,
		footer: true,
		
	});

	
});

</script>
<script type="text/javascript">
$(function(){
	$('.table-sort').dataTable({
		"aaSorting": [[ 1, "desc" ]],//默认第几个排序
		"bStateSave": true,//状态保存
		"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		  {"orderable":false,"aTargets":[0,8,9]}// 制定列不参与排序
		]
	});
	$('.table-sort tbody').on( 'click', 'tr', function () {
		if ( $(this).hasClass('selected') ) {
			$(this).removeClass('selected');
		}
		else {
			table.$('tr.selected').removeClass('selected');
			$(this).addClass('selected');
		}
	});
});
/*用户-添加*/
function member_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*用户-查看*/
function member_show(title,url,id,w,h){
	layer_show(title,url,w,h);
}

/*用户-编辑*/
function member_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*密码-修改*/
function change_password(title,url,id,w,h){
	layer_show(title,url,w,h);	
}
/*用户-删除*/
function member_del(obj,id){
	layer.confirm('确认要删除吗？',{
		icon: 3,
		title: '提示信息',
		btn: ['是的','取消'], //按钮
		shade: [0.4, '#393D49']
	},function(){
		//此处请求后台程序，下方是成功后的前台处理……
		$.get("{:U('Conference/delete')}", { "id": id },function(data){
			if(data==1){
				layer.msg('删除成功', { icon: 1, time: 2000 ,shade: 0.5},function(index){
					$(obj).parents("tr").remove();
				});
			}else{
				layer.msg('删除失败', {icon: 2, time: 2000,shade: 0.5 }); 
			}
			 
		}, "json");
		
	});
}

</script> 

