<layout name="layout" />
<webuploadercss />
<!--设置时间样式-->

<link rel="stylesheet" type="text/css" href="__HOME_CSS__/amazeui.min.css"/>
<link rel="stylesheet" type="text/css" href="__HOME_CSS__/amazeui.address.css" />
<link rel="stylesheet" type="text/css" href="__HOME_CSS__/amazeui.datetimepicker.css"/>
<style type="text/css">
	a{cursor:pointer;}
	body{background: #fff none repeat scroll 0 0; color: #333; font: 12px/1.5 "Microsoft YaHei","Helvetica Neue",Helvetica,STHeiTi,sans-serif; background-position: left top; background-repeat: repeat; background-attachment: scroll;}
	.clearfix:after{visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0}
	*:first-child+html .clearfix{zoom:1}
	ul,li{list-style: none;padding:0;margin:0}

	/**********上传样式***********/

	.photo_upload_box{padding: 16px 0 10px 16px; width: 468px;background-color: #FFF; border: 1px solid #ccc; border-radius: 3px; box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.2); position: relative}
	.photo_upload_box h1{font-size: 14px;font-weight: 700;}
	.photo_upload_box .upload_num{margin:10px 0}
	.ul_pics li{float:left;width:80px;height:80px;margin:0 8px 8px 0;position: relative}
	.ul_pics li img{width:100%;height: 100%}
	.progress{position:relative;padding: 1px; border-radius:3px; margin:30px 0 0 0;}
	.bar{background-color: green; display:block; width:0%; height:20px; border-radius:3px;}
	.percent{position:absolute; height:20px; display:inline-block;top:3px; left:2%; color:#fff}
	.pic_close{background:url("images/ico_layer.png") no-repeat scroll -25px -25px; display: none; height: 20px; width: 20px; position: absolute;right:0;top:0;z-index: 990}
	.ul_pics li:hover .pic_close{display: block}

	.uploading-tip {
		background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
		bottom: 0;
		box-sizing: border-box;
		height: 0;
		left: 0;
		position: absolute;
		width: 100%;
		z-index: 100;
		text-align: left;
		line-height: 20px
	}

	.uploading-tip > span ,.uploading-tip > i {
		color: green;
		cursor: pointer;
		font-family: "宋体";
		font-size: 18px;
		font-style: normal;
		margin:0 0 0 12px;

	}

	.uploading-tip>i {
		color: red;
		font-family: "微软雅黑";
	}
</style>
<div class="page-content">

	<h3 class="page-title">
	新建会议
	</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="#">首页</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				新建会议
			
			</li>
			
		</ul>
		
	</div>
	
	<!--中间部分-->
	<!-- BEGIN PAGE CONTENT-->
	 <div class="tabbable-custom tabbable-full-width">
	 
	 <!-----========================================================================-------------------->
		<ul class="nav nav-tabs">
			<!-- <li class="active">
				<a href="javascript:;" ><i class="fa fa-tags"></i>基本信息</a>
			</li>
			<li class="">
				<a href=""><i class="fa fa-tag"></i> 会议简介 </a>
			</li>
			<li  class="   ">
				<a href=""><i class="fa fa-tag"></i> 参会嘉宾</a>
			</li>
			<li  class="">
				<a href=""><i class="fa fa-bell"></i>会议日程 </a>
			</li>
			<li  class="">
				<a href=""><i class="fa fa-bell"></i>参会指南</a>
			</li> -->
		</ul>
		<div class="portlet-body form" >
			 
		
			<form class="form-horizontal"   action="__SELF__" method="post" id="myform" >
				<div class="form-body">
					<div class="form-group">
						<label class="col-md-3 control-label">会议标题</label>
						<div class="col-md-5">
							<input type="text" class="form-control"  name="title" datatype="*" nullmsg="请输入会议标题" errormsg="会议标题输入有误" value="">
							
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-3 control-label">会议类型</label>
						<div class="col-md-9">
							<select class="form-control input-medium" name="cid">
								<option value="">请选择</option>
								<volist name="cate" id="v">
									<if condition="$v.id eq 1">
									<else />
									<option value="{$v.id}">{$v['_name']}{$v['catename']}</option>
									</if>
								</volist>
							</select>
						</div>
						
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">举办公司</label>
						<div class="col-md-5">
							<input type="text" class="form-control"  name="companyname" value="{$cert.company}">
							
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">起始时间</label>
						<div class="col-md-5">
							<input size="16" type="text" value="" readonly class="form-datetime am-form-field" name="ctime" datatype="*" nullmsg="会议开始时间不能为空" errormsg="请选择会议开始时间">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label"></label>
						<div class="col-md-5">
							
							  <input size="16" type="text" value="" readonly class="form-datetime am-form-field" name="etime"plugin="datetimepicker" datatype="*" nullmsg="会议结束时间不能为空" errormsg="请选择会议结束时间">
							 
						</div>
						
					</div>
					<!-- <div class="form-group">
						<label class="col-md-3 control-label">报名截止</label>
						<div class="col-md-5">
							<input size="16" type="text" value="" readonly class="form-datetime am-form-field" name="btime"plugin="datetimepicker" datatype="*" nullmsg="报名截止时间不能为空" errormsg="请选择报名截止时间">
						</div>
					</div> -->
					<div class="form-group">
						<label class="col-md-3 control-label">报名截止</label>
						<div class="col-md-5">
							<input size="16" type="text" value="" readonly class="form-datetime am-form-field" name="qtime"plugin="datetimepicker" datatype="*" nullmsg="会议签到时间不能为空" errormsg="请选择会议签到时间">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">举办地址</label>
						<div class="col-md-5" id="address2">
								<input readonly type="text" name="address" class="am-form-field am-radius" placeholder="请选择地址" required="" value="北京北京市石景山区">
								
							</div>
					</div>
				   <div class="form-group">
						<label class="col-md-3 control-label">详细地址</label>
						<div class="col-md-5">
							<input type="text" class="form-control"  name="xxaddress" value="" placeholder="请填写详细地址" datatype="*" nullmsg="详细地址不能为空" errormsg="请填写正确的地址">
							
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">联系人</label>
						<div class="col-md-5">
							<input type="text" class="form-control"  name="contact" value="" placeholder="请填写联系人姓名"  datatype="*" nullmsg="联系人不能为空" errormsg="请填写正确的联系人姓名">
							
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">联系人手机号</label>
						<div class="col-md-5">
							<input type="text" class="form-control"  name="phone" value="" placeholder="请填写联系人手机号"  datatype="m" nullmsg="联系人电话不能为空" errormsg="请填写正确的联系人手机号码">
							
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-3 control-label">会议图片</label>
						<div class="col-md-5"> 
							<webuploaderavatar name="companypic" url="{:U('Attachment/ajax_upload')}" word="或将照片拖到这里，最多可选1张"/> 
						</div>	
						
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">资料附件</label>
						<div class="col-md-5">
							<div class="photo_upload_box">
							<p class="upload_num">共<span id="uploaded_length">0</span>个，还能上传<span id="upload_other">5</span>个</p>
								<ul id="ul_pics" class="ul_pics clearfix">
									<li id="local_upload"><img src="__PLUPLOAD__/images/local_upload.png" id="btn2"/></li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-3 control-label">会议规模</label>
						<div class="col-md-5">
							
							<input type="text" class="form-control"  name="scale" placeholder="请输入最多会议人数" datatype="n" nullmsg="请输入最多会议人数,必须为数字" errormsg="请填写最多会议人数数字" value="">
						</div>	
						
					</div>

					<div class="form-group">
						<label class="col-md-3 control-label">是否审核参会人员</label>
						<div class="col-md-9">
							<select class="form-control input-medium" name="is_user">
								<option value="0">不审核</option>
								<option value="1">审核</option>
								
							</select>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-3 control-label">会议简介</label>
						<div class="col-md-8" style="width:90%">
							<textarea type="text" id="UMeditor1" name="brief" value="" style="z-index:999"></textarea>
						</div>	
						
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">会议日程</label>
						<div class="col-md-8" style="width:90%">
							<textarea type="text" id="UMeditor2" name="agenda" value="" style="z-index:999"></textarea>
						</div>		
						
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">会议嘉宾</label>
						<div class="col-md-8" style="width:90%">
							<textarea type="text" id="UMeditor3" name="guests" value="" style="z-index:999"></textarea>
						</div>		
						
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">参会指南</label>
						<div class="col-md-8" style="width:90%">
							<textarea type="text" id="UMeditor4" name="guide" value="" style="z-index:999"></textarea>
						</div>		
						
					</div>
						
					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-3 col-md-9">
								<button type="submit" class="btn green" id="save">保存数据</button>
								<button type="reset" class="btn default">恢复默认</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			
		</div>
		<!-- END PAGE CONTENT-->
		<!--中间部分-->
	</div>
	<!-- END CONTENT -->
	
</div>
<script type="text/javascript">
$(function() {     

	var demo = $("#myform").Validform({
		tiptype:4,
		label:".label",
		showAllError:true,		
		usePlugin:{
			datetimepicker:{}
		},
	});
	demo.addRule([{
		ele:"select",
		datatype:"*",
	}]);
});		
</script>

<!----编辑器设置s--->
 
<link href="__STATICS__/ueditor/themes/default/css/ueditor.min.css" type="text/css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" src="__STATICS__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__STATICS__/ueditor/ueditor.all.js"></script>
<script type="text/javascript" src="__STATICS__/ueditor/lang/zh-cn/zh-cn.js"></script>

<script type="text/javascript">
 
UE.getEditor('UMeditor1', {
	initialFrameWidth : "75%",
	initialFrameHeight : 200
});
UE.getEditor('UMeditor2', {
	initialFrameWidth : "75%",
	initialFrameHeight : 200
});
UE.getEditor('UMeditor3', {
	initialFrameWidth : "75%",
	initialFrameHeight : 200
}); 
UE.getEditor('UMeditor4', {
	initialFrameWidth : "75%",
	initialFrameHeight : 200
});
</script>

<!----编辑器设置e--->

<include file="Public/footer" />


<webuploaderjs />

<script src="__HOME_JS__/amazeui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__HOME_JS__/iscroll.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__HOME_JS__/address.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
	$(function() {
		document.addEventListener('touchmove', function (e) {
			e.preventDefault();
		}, false);

		//城市多级联动
		$("#address2").address({
			prov: "北京石",
			city: "北京市",
			district: "景山区",
			scrollToCenter: true,
			footer: true,
			
		});


});

</script>
<!--设置时间js-->
<script src="__HOME_JS__/amazeui.datetimepicker.min.js"></script>
<script src="__HOME_JS__/amazeui.datetimepicker.zh-CN.js"></script>
<script>
(function($){
  // 也可以在页面中引入 amazeui.datetimepicker.zh-CN.js
  $.fn.datetimepicker.dates['zh-CN'] = {
    days: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六", "星期日"],
    daysShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六", "周日"],
    daysMin:  ["日", "一", "二", "三", "四", "五", "六", "日"],
    months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
    monthsShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
    today: "今日",
    suffix: [],
    meridiem: ["上午", "下午"]
  };

  $('.form-datetime').datetimepicker({
    language:  'zh-CN',
    format: 'yyyy-mm-dd hh:ii'
  });
 

}(jQuery));
</script>


<!----plupload上传插件 单图上传--------->
<script type="text/javascript" src="__PLUPLOAD__/plupload/plupload.full.min.js"></script>

<script type="text/javascript">
	var upload_total = 5;//最多上传数量
	var uploader = new plupload.Uploader({
	   runtimes: 'gears,html5,html4,silverlight,flash', 
	   browse_button: ['btn2'], 
	   url: "{:U('Attachment/file_upload')}", 
	   flash_swf_url: '/Public/plupload/plupload/Moxie.swf', //flash文件地址
	   silverlight_xap_url: '/Public/plupload/plupload/Moxie.xap', //silverlight文件地址
	   filters: {
		   max_file_size: '10mb', //最大上传文件大小（格式100b, 10kb, 10mb, 1gb）
		   mime_types: [//允许文件上传类型
			   {title: "files", extensions: 'doc,docx,xls,xlsx,ppt,txt,pdf'}
		   ]
	   },
	   multi_selection: true, //true:ctrl多文件上传, false 单文件上传
	   init: {
		   FilesAdded: function(up, files) { //文件上传前
			   var length_has_upload = $("#ul_pics").children("li").length;
			   if (files.length >= upload_total) { //超过上传总数量则隐藏
				   $("#local_upload").hide();
			   }
			   var li = '';
			   plupload.each(files, function(file) { //遍历文件
				   if (length_has_upload <= upload_total) {
					   li += "<li class='li_upload' id='" + file['id'] + "'><div class='progress'><span class='bar'></span><span class='percent'>0%</span></div></li>";
				   }
				   length_has_upload++;
			   });
			   $("#ul_pics").prepend(li);
			   uploader.start();
		   },
		   UploadProgress: function(up, file) { //上传中，显示进度条
			   var percent = file.percent;
			   $("#" + file.id).find('.bar').css({"width": percent + "%"});
			   $("#" + file.id).find(".percent").text(percent + "%");
		   },
		   FileUploaded: function(up, file, info) { //文件上传成功的时候触发
			   var uploaded_length = $(".img_common").length;
			   if (uploaded_length <= upload_total) {
				   var data = eval("(" + info.response + ")");//解析返回的json数据
				  
				   if (data.message != undefined) {
					   $("#" + file.id).remove();
					   alert(data.message);
					   return false;
				   }
				   $("#" + file.id).html("<input type='hidden'name='downfile[]' value='" + data.name + "'/>\n\<img class='img_common' src='/Public/plupload/file.png' />无法预览<span class='picbg'></span><div  class='uploading-tip' style='overflow: hidden; height: 0px;'><span class='onLandR' onclick='reverse_left($(this))'>&lt;</span><span class='onLandR' onclick='reverse_right($(this))'>&gt;</span><i class='onDelPic' onclick=delPic('" + data.name + "','" + file.id + "')>×</i></div>");
			   }

			   showUploadBtn();
			   hover_li();
		   },
		   Error: function(up, err) { //上传出错的时候触发
			   alert(err.message);
		   }
	   }
	});
	
	uploader.init();

	function showUploadBtn() { //是否显示上传按钮
	   var uploaded_length = $(".img_common").length;
	   $("#uploaded_length").text(uploaded_length);
	   var other_length = (upload_total - uploaded_length) > 0 ? upload_total - uploaded_length : 0;
	   $("#upload_other").text(other_length);
	   var uploaded_length = $(".img_common").length;
	   if (uploaded_length >= upload_total) {
		   $("#local_upload").hide();
	   } else {
		   $("#local_upload").show();
	   }
	}


	function hover_li() {
	   $("#ul_pics").children(".li_upload").hover(function() {
		   $(this).find(".uploading-tip").stop().animate({height: '25px'}, 200);
	   }, function() {
		   $(this).find(".uploading-tip").stop().animate({height: '0'}, 200);
	   })
	}
	//向左移动图片
	function reverse_left(obj) {
	   var obj_li = obj.parents("li");
	   var obj_prev = obj_li.prev("li");
	   if (obj_prev.hasClass("li_upload")) {
		   obj_li.insertBefore(obj_prev);
		   obj_li.find(".uploading-tip").css({"height": 0});
	   }
	}
	//向右移动图片
	function reverse_right(obj) {
	   var obj_li = obj.parents("li");
	   var obj_next = obj_li.next("li");
	   if (obj_next.hasClass("li_upload")) {
		   obj_li.insertAfter(obj_next);
		   obj_li.find(".uploading-tip").css({"height": 0});
	   }
	}
	//获取第一张图片(封面)和所有上传的图片
	function getPics() {
	   var pics = "";
	   $("#ul_pics").find(".img_common").each(function() {
		   pics += $(this).attr("src") + ",";
	   })
	   var logo = "";
	   if ($("#ul_pics").find(".img_common").length > 0) {
		   logo = $("#ul_pics").find(".img_common").eq(0).attr("src");
	   }
	   alert("第一张图片：" + logo + "\n\所有图片：" + pics)
	}
	//删除图片
	function delPic(pic, file_id) { //删除图片 参数1图片路径  参数2 随机数
	   $.post("{:U('Attachment/delFile')}", {pic: pic}, function(data) {
		   $("#" + file_id).remove();
		   showUploadBtn();
	   })
	}

</script>	
	
	
	