<layout name="layout" />
<?php 
$type = I('get.type');
$sign = I('get.sign');
$id = I('get.id');
?>
<div class="page-content">
	<div class="tabbable-custom tabbable-full-width">
		<ul class="nav nav-tabs">
			<?php if($type==1){?>
				<li class="active">
					<a href="javascript:;" ><i class="fa fa-tags"></i>参会人员审核</a>
				</li>
				<li>
				<!-- <a href="{:U('Conference/signList',array(sign=>0))}" ><i class="fa fa-tags"></i>签到人员列表</a> -->
				<a href="{:U('Conference/signList',array(id=>$id,sign=>1))}" ><i class="fa fa-tags"></i>签到人员列表</a>
				</li>
			<?php }else{ ?>
			<li class="active">
				<a href="javascript:;" ><i class="fa fa-tags"></i>个性推送</a>
				<?php } ?>
			</li>
		</ul>
		<div  class="portlet-body">
			<?php if($type==0){?>
			<p class="col-md-12 text-center alert alert-danger">注：推送为直接推送给个人或者企业帐号信息，签到推送为保存后推送，把需要推送的信息先保存，参会人员
			扫码签到后自动推送保存的信息。
			</p>
			<?php } ?>
			

				<table class="table table-striped  table-bordered table-hover"  >
					<thead>
					<tr>
						<th >id</th>
						<th>logo</th>
						<th>公司名称/昵称</th>
						<th>联系电话</th>
						<th  style="width:200px;">操作</th>
					</tr>
					</thead>
					<tbody id="checked"> 
						<empty name="data">
							<tr class=" alert alert-danger">
								<td colspan="5">暂没有数据</td>
							</tr>
						<else/>
							<volist name="data" id="v" >
							<tr>
								<td>{$v.id}</td>
								<td class="center">{:showImg($v['logo'],50)}</td>
								<td class="center">{$v.companyname} / {$v.username}</td>
								<td class="center">{$v.phone}</td>
								<td>
								
								<?php if($type==1){?>
								
								<if condition="$v['is_user'] eq 1">
									<switch name="v.status" >
										<case value="1">
										
										<button type="button" class="btn btn-success">您已同意</button>
										
										</case>
										<case value="2">
										<button type="button" class="btn btn-danger">您已拒绝</button>
										</case>
										
										<case value="4">
										<button type="button" class="btn btn-success">参会中</button>
										
										</case>
										<case value="5">
										<button type="button" class="btn btn-default">已结束</button>
										</case>
										<default />
										
										<!--<button type="hidden" class="btn btn-danger" onClick="refusedalert('询问','您确定要拒绝 <strong></strong> 吗?','{:U('Conference/refused',array('id'=>I('get.id'),'uid'=>$v['id']))}')" >拒绝</button>
										--><button type="button" class="btn btn-green" onClick="agreealert('询问','您确定要同意 <strong></strong> 吗?','{:U('Conference/agreed',array('id'=>I('get.id'),'uid'=>$v['id']))}')" >同意</button>
										<button type="button" class="btn btn-danger" onClick="refusedalert('询问','您确定要拒绝 <strong></strong> 吗?','{:U('Conference/refused',array('id'=>I('get.id'),'uid'=>$v['id']))}')" >拒绝</button>
										
									</switch>	
									<else/>
										<button type="button" class="btn btn-primary">您已同意</button>
										
									
								</if>
								<?php }else{?>
									<!--<a href="{:U('Jgpushperson/gexingts',array('id'=>I('get.id'),'uid'=>$v['id']))}">
										<button type="button" class="btn btn-danger">推送</button>
									</a>-->
									<a href="{:U('Jgpushperson/gexingts',array('id'=>I('get.id'),'uid'=>$v['id']))}">
										<button type="button" class="btn btn-danger">推送</button>
									</a>
									<a href="{:U('Signjgpush/signts',array('id'=>I('get.id'),'uid'=>$v['id']))}">
										<button type="button" class="btn btn green">签到推送</button>
									</a>
								<?php } ?>
								
								</td>
							</tr>
							</volist>
						</empty> 
					</tbody>
				</table>
				{$page}
			</div>
	</div>

</div>
<include file="Public/footer" />