<layout name="layout" />

<!--设置时间样式-->

<link rel="stylesheet" type="text/css" href="__HOME_CSS__/amazeui.min.css"/>
<link rel="stylesheet" type="text/css" href="__HOME_CSS__/amazeui.address.css" />
<link rel="stylesheet" type="text/css" href="__HOME_JS__/select2/select2.css" />
<script type="text/javascript" src="__HOME_JS__/select2/select2.js"></script>
<script type="text/javascript" src="__HOME_JS__/select2/select2_locale_zh-CN.js"></script>
<!-- css样式开始 -->
<style type="text/css">
.demo,.demo1{width:900px;margin:10px auto;}
.demo .btn,.demo1 .btn1{background-color: #00B7EE;text-decoration: none;color:#fff;}
.demo .btn:hover,.demo1 .btn1:hover{background-color: #00B7EE;text-decoration: none;color:#fff;}
.demo .ul_pics,.demo1 .ul_pics1{margin-top:10px;margin-left:-35px;}
.demo .ul_pics li,.demo1 .ul_pics1 li{float:left;width:160px;height:160px;border:1px solid #ddd;padding:2px;text-align: center;margin:0 5px 5px 0;list-style:none;}
.demo .ul_pics li .img,.demo1 .ul_pics1 li .img1{width: 150px;height: 140px;display: table-cell;vertical-align: middle;position:relative;}
.demo .ul_pics li img,.demo1 .ul_pics1 li img{max-width: 150px;max-height: 140px;vertical-align: middle;}
.demo .progress,.demo1 .progress1{position:relative;padding: 1px; border-radius:3px; margin:60px 0 0 0;} 
.demo .bar,.demo1 .bar1 {background-color: green; display:block; width:0%; height:20px; border-radius:3px; } 
.demo .percent,.demo1 .percent1{position:absolute; height:20px; display:inline-block;top:3px; left:2%; color:#fff } 
.demo .span_del,.demo1 .span_del1{display:block;height:10px;width:10px;position:absolute;top:5px;right:5px;cursor:pointer;background:url(/Public/plupload/images/local_upload_close.png);display:none;}
input,button,submit,textarea,option,textarea{font-family:'微软雅黑';}
.demo .baocun,.demo1 .baocun1{cursor:pointer;}
.demo .clear,.demo1 .clear1{clear:both;}
<!-- css样式结束 -->
</style>

<!-- 日期时间插件 -->
<script src="__LAYDATE__/laydate.js"></script> 
<script>
//执行一个laydate实例
laydate.render({
  elem: '.form-datetime',
  type: 'datetime',
  format: 'yyyy-MM-dd HH:mm:ss'
});
laydate.render({
  elem: '.form-datetime1',
  type: 'datetime',
  format: 'yyyy-MM-dd HH:mm:ss'
});
laydate.render({
  elem: '.form-datetime2',
  type: 'datetime',
  format: 'yyyy-MM-dd HH:mm:ss'
});



</script>
<!-- 日期时间插件 -->

<div class="page-content">

	<h3 class="page-title">
	编辑会议
	</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="#">首页</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				编辑会议
			
			</li>
			
		</ul>
		
	</div>
	
	<!--中间部分-->
	<!-- BEGIN PAGE CONTENT-->
	 <div class="tabbable-custom tabbable-full-width">
	 
	 <!-----========================================================================-------------------->
		<ul class="nav nav-tabs">
			<!-- <li class="active">
				<a href="javascript:;" ><i class="fa fa-tags"></i>基本信息</a>
			</li>
			<li class="">
				<a href=""><i class="fa fa-tag"></i> 会议简介 </a>
			</li>
			<li  class="   ">
				<a href=""><i class="fa fa-tag"></i> 参会嘉宾</a>
			</li>
			<li  class="">
				<a href=""><i class="fa fa-bell"></i>会议日程 </a>
			</li>
			<li  class="">
				<a href=""><i class="fa fa-bell"></i>参会指南</a>
			</li> -->
		</ul>
		<div class="portlet-body form" >
			 
		
			<form class="form-horizontal"   action="__SELF__" method="post" id="myform" >
				<div class="form-body">
					<div class="form-group">
						<label class="col-md-3 control-label">会议标题</label>
						<div class="col-md-5">
							<input type="text" class="form-control"  name="title" datatype="*" nullmsg="请输入会议标题" errormsg="会议标题输入有误" value="{$data['title']}">
							
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-3 control-label">会议类型</label>
						<div class="col-md-9">
							<select class="form-control input-medium" name="cid">
								<option value="">请选择</option>
								<volist name="cate" id="v">
								<if condition="$v.id eq 1">
									<else />
									<option value="{$v.id}" <if condition="$v['id'] eq $data['cid']">selected="selected"</if>>{$v['_name']}{$v['catename']}</option>
									</if>
								</volist>
							</select>
						</div>
						
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">是否公开</label>
						<div class="col-md-5">
							<select class="form-control input-medium" name="is_private">
							
								<option value="0" <if condition="$data.is_private eq 0">selected="selected"</if>>公开</option>
								<option value="1" <if condition="$data.is_private eq 1">selected="selected"</if>>内部</option>
								
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">举办方</label>
						<div class="col-md-5">
							<input type="text" class="form-control"  name="companyname" value="{$cert.company}">
							
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">合作伙伴</label>
						
						<div class="col-md-5">
							<select class="form-control"  id="partselect" name="part_id[]" multiple="multiple">
								
								<empty name="parts">
									<p style="font-size:14px;color:red">暂时没有合作伙伴，请添加后选择</p>
								<else/>
									<volist name="parts" id="p">
									
									<option value="{$p.id}" <if condition="in_array($p['id'] , $partid)">selected="selected"</if>>{$p.companyname}</option>
									</volist>
								
								</empty>
							 </select>
						</div>
						<div class="col-md-4">
							<span style="color:red;font-size:12px">可删除、搜索、添加合作伙伴</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">会议开始时间</label>
						<div class="col-md-5">
							<div class="input-group" style="width:100%">
								<input size="16" type="text" value="开始时间不能修改" disabled="disabled" readonly class="form-datetime1 form-control"/>  
							</div>
						</div>
						<div class="col-md-4">
							<span style="color:red;font-size:12px">为不影响会议进程，开始时间不能修改</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">会议结束时间</label>
						<div class="col-md-5">
							  <input size="16" type="text" value="结束时间不能修改" disabled="disabled"  readonly class="form-datetime1 form-control"/>
							 
						</div>
						<div class="col-md-4">
							<span style="color:red;font-size:12px">为不影响会议进程，结束时间不能修改</span>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-3 control-label">签到截止时间</label>
						<div class="col-md-5">
							<input size="16" type="text" value="签到时间不能修改" disabled="disabled" readonly class="form-datetime1 form-control" />
						</div>
						<div class="col-md-4">
							<span style="color:red;font-size:12px">为不影响会议进程，签到时间不能修改</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">会议地点</label>
						<div class="col-md-5" id="address2">
								<input type="text" name="address" class="am-form-field am-radius" placeholder="请选择地址" required="" style="font-size:14px" value="{$data.address}">
								
							</div>
					</div>
				   <div class="form-group">
						<label class="col-md-3 control-label">详细地址</label>
						<div class="col-md-5">
							<input type="text" class="form-control"  name="xxaddress" value="{$data.xxaddress}" placeholder="请填写详细地址" datatype="*" nullmsg="详细地址不能为空" errormsg="请填写正确的地址" >
							
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">联系人</label>
						<div class="col-md-5">
							<input type="text" class="form-control"  name="contact" value="{$data.contact}" placeholder="请填写联系人姓名"  datatype="*" nullmsg="联系人不能为空" errormsg="请填写正确的联系人姓名">
							
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">联系电话</label>
						<div class="col-md-5">
							<input type="text" class="form-control"  name="phone" value="{$data.phone}" placeholder="请填写联系人手机号"  datatype="m" nullmsg="联系人电话不能为空" errormsg="请填写正确的联系人手机号码">
							
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-3 control-label">会议图片</label>
						<div class="col-md-5"> 
							
							<div class="demo1">
								<a class="btn1" id="btn1">上传图片</a> <font style="font-size:12px">限制<span style="color:red">10M</span>,支持gif,jpg,jpeg,png,bmp格式，支持上传一张图片，大小尺寸为：660*440，划过下方图片，删除替换</font> 
								<ul id="ul_pics1" class="ul_pics1 clearfix">
									<volist name="companypic" id="pic">
									<li class="li_image1" ><div class="img1"><img src="{$pic}" /><span class="span_del1"></span></div></li>
									</volist>
								</ul>
								<volist name="companypic" id="pic">
									<input type='hidden' name="companypic" value="{$pic}" id="multimage1" />
								</volist>
								
								<div class="clear1"></div>
							</div>
						</div>	
						
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">资料附件</label>
						<div class="col-md-5">
							<div class="demo">
								<a class="btn" id="btn">上传附件</a> <font style="font-size:12px">限制<span style="color:red">10M</span>,支持doc,docx,xls, xlsx,ppt,pdf格式。支持上传5个文件</font> 
								<ul id="ul_pics" class="ul_pics clearfix">
									<volist name="row['downfileArr']" id="vo">
										<li class="li_image" ><div class="img"><a href="{$vo}"><?php echo substr($vo,37)?></a><span class="span_del"></span></div></li>
									</volist>
								</ul>
								<input type='hidden' value="{$row['downfile']}" name="downfile" id="multimage" />
								<div class="clear"></div>
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-3 control-label">会议规模</label>
						<div class="col-md-5">
							<input type="text" class="form-control"  name="scale" placeholder="请输入最多会议人数" datatype="n" nullmsg="请输入最多会议人数,必须为数字" errormsg="请填写最多会议人数数字" value="{$data.scale}">
						</div>	
						
					</div>

					<div class="form-group">
						<label class="col-md-3 control-label">审核权限</label>
						<div class="col-md-9">
							<select class="form-control input-medium" name="is_user">
							
								<option value="0" <if condition="$data.is_user eq 0">selected="selected"</if>>否</option>
								<option value="1" <if condition="$data.is_user eq 1">selected="selected"</if>>是</option>
								
							</select>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-3 control-label">会议简介</label>
						<div class="col-md-8" style="width:90%">
							<textarea type="text" id="UMeditor1" name="brief" value="" style="z-index:999">{$data.brief|htmlspecialchars_decode|stripslashes}</textarea>
						</div>	
						
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">会议日程</label>
						<div class="col-md-8" style="width:90%">
							<textarea type="text" id="UMeditor2" name="agenda" value="" style="z-index:999">{$data.agenda|htmlspecialchars_decode|stripslashes}</textarea>
						</div>		
						
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">会议嘉宾</label>
						<div class="col-md-8" style="width:90%">
							<textarea type="text" id="UMeditor3" name="guests" value="" style="z-index:999">{$data.guests|htmlspecialchars_decode|stripslashes}</textarea>
						</div>		
						
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">参会指南</label>
						<div class="col-md-8" style="width:90%">
							<textarea type="text" id="UMeditor4" name="guide" value="" style="z-index:999">{$data.guide|htmlspecialchars_decode|stripslashes}</textarea>
						</div>		
						
					</div>
						
					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-3 col-md-9">
								<button type="submit" class="btn green btn-lg" id="save">提交</button>
								<button type="reset" class="btn default btn-lg">重置</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			
		</div>
		<!-- END PAGE CONTENT-->
		<!--中间部分-->
	</div>
	<!-- END CONTENT -->
	
</div>
<script>
$(function(){
	//点击取消checkbox的value属性
	$("#partid input[type=checkbox]").click(function(index, domEle) {
		consol
	});
	
	
});

</script>
<script type="text/javascript">
$(function() {

	var demo = $("#myform").Validform({
		tiptype:4,
		label:".label",
		showAllError:true,		
		usePlugin:{
			datetimepicker:{}
		},
	});
	demo.addRule([{
		ele:"select",
		datatype:"*",
	}
	]);
});		
</script>

<!----编辑器设置s--->
 
<link href="__STATICS__/ueditor/themes/default/css/ueditor.min.css" type="text/css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" src="__STATICS__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__STATICS__/ueditor/ueditor.all.js"></script>
<script type="text/javascript" src="__STATICS__/ueditor/lang/zh-cn/zh-cn.js"></script>

<script type="text/javascript">
 
UE.getEditor('UMeditor1', {
	initialFrameWidth : "75%",
	initialFrameHeight : 200
});
UE.getEditor('UMeditor2', {
	initialFrameWidth : "75%",
	initialFrameHeight : 200
});
UE.getEditor('UMeditor3', {
	initialFrameWidth : "75%",
	initialFrameHeight : 200
}); 
UE.getEditor('UMeditor4', {
	initialFrameWidth : "75%",
	initialFrameHeight : 200
});
</script>

<!----编辑器设置e--->

<include file="Public/footer" />


<webuploaderjs />

<script src="__HOME_JS__/amazeui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__HOME_JS__/iscroll.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__HOME_JS__/address.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
$(function() {
	document.addEventListener('touchmove', function (e) {
		e.preventDefault();
	}, false);

	//城市多级联动
	$("#address2").address({
		prov: "北京石",
		city: "北京市",
		district: "景山区",
		scrollToCenter: true,
		footer: true,
		
	});

	
});

</script>



<!----plupload上传插件 单图上传--------->
<script type="text/javascript" src="__PLUPLOAD__/plupload/plupload.full.min.js"></script>
<script type="text/javascript">
      var uploader = new plupload.Uploader({
          runtimes: 'html5,flash,silverlight,html4', 
          browse_button: 'btn', 
          url: "{:U('Attachment/file_upload')}", 
          flash_swf_url: '/Public/plupload/plupload/Moxie.swf', 
          silverlight_xap_url: '/Public/plupload/plupload/Moxie.xap', 
          filters: {
              max_file_size: '10mb', 
              mime_types: [
                  {title: "files", extensions: 'doc,docx,xls,pdf,xlsx,ppt,txt'}
              ]
          },
          multi_selection: true, 
          init: {
              FilesAdded: function(up, files) { 
                  if ($("#ul_pics").children("li").length > 5) {
                      alert("您上传的附件超过限制了！");
                      uploader.destroy();
                  } else {
                      var li = '';
                      plupload.each(files, function(file) { 
                          li += "<li class='li_image' id='" + file['id'] + "'><div class='progress'><span class='bar'></span><span class='percent'>0%</span></div></li>";
                      });
                      $("#ul_pics").append(li);
                      uploader.start();
                  }
              },
              UploadProgress: function(up, file) { 
				var percent = file.percent;
                  $("#" + file.id).find('.bar').css({"width": percent + "%"});
                  $("#" + file.id).find(".percent").text(percent + "%");
              },
              FileUploaded: function(up, file, info) { 
                 var data = eval("(" + info.response + ")");
				 
                  $("#" + file.id).html("<div class='img'><a href='" + data.pic + "'>" + data.name + "<a><span class='span_del'></span></div>");
                  var old=$("#multimage").val();
				$("#multimage").val(old + data.pic+'###');
              },
              Error: function(up, err) { 
                  alert(err.message);
              }
          }
      });
      uploader.init();
</script>
<script type="text/javascript">
$(function(){
	$(".demo").on("mouseover",'.li_image',function(){
		$(this).find(".span_del").show();
	})
	$(".demo").on("mouseout",'.li_image',function(){
		$(this).find(".span_del").hide();
	})
	$("#ul_pics").on("click",'.span_del',function(){
		var href=$(this).siblings('a').attr('href');
		var multimage=$("#multimage").val();
		var new_multimage=multimage.replace(href+'###', '');
		$("#multimage").val(new_multimage);
		$(this).parents('li.li_image').remove();
	})
})
</script>
<!----会议图片上传-->
<script type="text/javascript">
      var uploader1 = new plupload.Uploader({
          runtimes: 'html5,flash,silverlight,html4', 
          browse_button: 'btn1', 
          url: "{:U('Attachment/product_upload')}", 
          flash_swf_url: '/Public/plupload/plupload/Moxie.swf', 
          silverlight_xap_url: '/Public/plupload/plupload/Moxie.xap', 
          filters: {
              max_file_size: '10mb', 
              mime_types: [
                  {title: "files", extensions: 'gif,jpg,jpeg,png,bmp'}
              ]
          },
          multi_selection: true, 
          init: {
              FilesAdded: function(up, files) { 
                  if ($("#ul_pics1").children("li").length >= 1) {
                      alert("您上传的图片超过限制了！");
                      uploader1.destroy();
                  } else {
                      var li = '';
                      plupload.each(files, function(file) { 
                          li += "<li class='li_image1' id='" + file['id'] + "'><div class='progress1'><span class='bar'></span><span class='percent1'>0%</span></div></li>";
                      });
                      $("#ul_pics1").append(li);
                      uploader1.start();
                  }
              },
              UploadProgress: function(up, file) { 
				var percent = file.percent;
                  $("#" + file.id).find('.bar').css({"width": percent + "%"});
                  $("#" + file.id).find(".percent1").text(percent + "%");
              },
              FileUploaded: function(up, file, info) { 
                 var data = eval("(" + info.response + ")");
				 
                  $("#" + file.id).html("<div class='img1'><img src='"+data.name+"'><span class='span_del1'></span></div>");
                  var old=$("#multimage1").val();
				$("#multimage1").val(data.name+'');
              },
              Error: function(up, err) { 
                  alert(err.message);
              }
          }
      });
      uploader1.init();
</script>
<script type="text/javascript">
$(function(){
	$(".demo1").on("mouseover",'.li_image1',function(){
		$(this).find(".span_del1").show();
	})
	$(".demo1").on("mouseout",'.li_image1',function(){
		$(this).find(".span_del1").hide();
	})
	$("#ul_pics1").on("click",'.span_del1',function(){
		var href=$(this).siblings('a').attr('href');
		var multimage=$("#multimage1").val();
		var new_multimage=multimage.replace(href+'', '');
		$("#multimage1").val(new_multimage);
		$(this).parents('li.li_image1').remove();
	})
})
</script>
<script type="text/javascript">
$(function(){
	$('.form-datetime').val();
})
</script>

<script type="text/javascript">
$(function() { 
	$('#partselect').select2({
		placeholder: '请选择合作伙伴',
		//maximumSelectionSize: 3,   //最多添加3个
		maximumSelectionLength :10,   //限制搜索的个数
	});
});
</script>

	
	
	