<include file="Public/header" />


<body class="page-header-fixed page-quick-sidebar-over-content ">
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
	<!-- BEGIN HEADER INNER -->
	<div class="page-header-inner">
		<!-- BEGIN LOGO -->
		<div class="page-logo">
			会员中心
			<div class="menu-toggler sidebar-toggler  ">
				<!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                
			</div>
            
		</div>
		<!-- END LOGO -->
		<!-- BEGIN RESPONSIVE MENU TOGGLER -->
		<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
		</a>
        
		<!-- <a class="navbar-brand disabled" href="#" style="text-align:center;width: 150px; height:45px;background: #4E5966;">
			&nbsp;&nbsp;&nbsp;<span style="color: #fff;">PC版管理</span>
		</a>
		
		
		
		<!-- BEGIN TOP NAVIGATION MENU -->
		<include file="Public/top" />
		<!-- END TOP NAVIGATION MENU -->
	</div>
	<!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
	<!-- BEGIN SIDEBAR -->
	<div class="page-sidebar-wrapper">
		<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
		<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
		
		<include file="Public/menu" />
		
		
		
		
	</div>
	<!-- END SIDEBAR -->
	
	<!--中部开始--->
	
	<script src="__HOME_JS__/echarts.min.js"></script>
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		
		{__CONTENT__}
		
		
		
	</div>
	<!-- END CONTENT -->
	<include file="Public/hezuo" />
</div>		




	
	