/*----- 头部 -----*/
#header{
	width: 92%; margin: 0px 4%; position: absolute; top: 0px; z-index: 9999;
	border-bottom: 1px solid rgba(225,225,225,0.6); padding: 0px;height: 60px;
}
#header.fixed{
	/*position: fixed; background: #ffffff;*/
}
#header .logoBox{
	text-align: left; line-height: 60px; padding-left: 0px;
}
#header .logoBox img{
	height: 42px; width: auto;
}
#header .logo{
	padding-left: 0px; height: 60px;
	background: url(../images/xhui_logo.png) left center no-repeat;
	background-size: auto 42px; text-indent: -999999px;
}
#header .logo h1{
	padding: 0; margin: 0;
}

#header .menu{
	display: none; text-align: right; height: 100%; line-height: 60px;
}
#header .menu i{
	font-size: 34px; color: #ffffff; cursor: pointer; width: 60px; height: 100%; display: inline-block;
	text-align: center; margin-right: -15px;
}
#header .menu i.active{
	background: rgba(62,131,178,1);
}
#header .menu div{
	width: 100%; height: 100%; position: absolute; top: 0; background: none; z-index: 9; display: none;
}
#header #nav{
	padding-left: 0px; padding-right: 0px; float: right; margin-left: 0px;
}
#nav li{
	font-size: 22px; text-align: center; font-weight: 300; color: #ffffff; height: 60px; line-height: 60px;
	position: relative;	
}
#nav li a{
	color: #333333; text-decoration: none;
}
#nav li i.icon{
	display:none ; font-size: 32px; color: #ffffff; z-index: 99; font-weight: 200;
	width: 50px; height: 57px; line-height: 60px; text-align: center; cursor: pointer;
	position: absolute; top: 0; right: 0;
	border-left: 1px solid rgba(225,225,225,0.8);
}
#nav li:hover{
	background: rgba(0,0,0,0.8);
}
#nav li:hover a{color: #ffffff;}
#nav li dl{
	width: 180px; padding-top: 8px; margin-left: -15px; text-align: left; font-size: 16px;display: none;
	background: rgba(0,0,0,0.8);
}
#nav li dl dd{line-height: 40px; padding-left: 18px; cursor: pointer;}
#nav li dl dd:hover{
	background: rgba(225,225,225,0.3);
}
#nav li dl dd:hover a{color: #fffffff;}
#nav li:hover dl{
	display: inline-block;
}
#header #regLogBtn{
	padding: 0px; border: 1px solid #3bb3ea; text-align: center; height: 35px; margin-top: 14px;
	border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;	float: right;
}
#header #regLogBtn:hover{background: none;}
#regLogBtn div{
	padding: 0px; font-size: 16px; height: 33px; line-height: 33px;
}
#regLogBtn div.active{
	background: #3bb3ea; padding: 0px; color: #5398c6;
}
#header #regLogBtn div a{
	color: #5398c6; display: inline-block; width: 100%;
}
#header #regLogBtn div.active a{
	color: #ffffff;
}
.fixedpop{
	width: 100%; height: 100%; position: fixed; top: 0px; left: 0;
	background: rgba(0,0,0,0); z-index: 999; display: none;
}
/*－－头部结束－－*/

/*－－底部开始－－*/
#footer{
	background: #454545; padding: 68px 0px 45px 0px;
}
#footer .footerBox{
	width: 1200px; margin: auto; color: #a6a6a6; 
}
.footabout{display: block;}
#footer .footerBox dl dt{
	color: #c3c3c3; font-size: 20px; font-weight: 200; line-height: 20px; padding-bottom: 12px;
}
#footer .footerBox dl dt span{
	color: #646464; font-weight: 200; font-size: 14px;
}
#footer .footerBox dl dd{
	padding: 4px 0px;
}
#footer .footerBox dl dd a{
	color: #a6a6a6; font-size: 16px; font-weight: 200;
}
#footer .footerbottom{
	padding-top: 10px;margin-top: 35px;display: inline-block;
	border-top: 1px solid #363636; color: #a6a6a6; font-size: 16px;
}
#footer .footerbottom p{
	padding: 3px 0px; margin: 0px;
}
/*－－底部结束－－*/


@media (max-width: 1199px){	
	#footer .footerBox{
		width: 92%;
	}
}

@media (max-width: 1090px){
	
	/*--- footer ---*/
	#footer .footerBox {width: 92%; margin: auto;}
	#footer{padding: 0px;}
	.footabout{display: none;}
	#footer .footerbottom{
		border-top: none; margin: 0; padding-top: 15px; padding-bottom: 15px; font-size: 14px;
	}
}

@media (max-width: 990px){
	/*--- header ---*/
	#header{width: 100%; margin: 0px;}
	#header .logoBox img{height: 35px;}
	#header .logo{
		background-size: auto 36px;
	}
	#header .menu{display: block;}
	#header .menu i{color: #333333;}
	#header .menu i.active{
		background: rgba(62,131,178,0.9); color: #ffffff;
	}
	#header #regLogBtn div a{color: #ffffff;}
	#header #nav{
		background: rgba(62,131,178,1); margin-top: 0px; position: relative;
		right: -999px; padding: 20px 15px; display: none;
	}
	#nav li{
		text-align: left; font-weight: 600;	
		height: auto; line-height: 40px; font-size: 18px;padding: 0px;
	}	
	#nav li a{
		display: inline-block; width: 100%; border-bottom: 1px solid rgba(225,225,225,0.8);
		padding: 8px 0px; color: #ffffff;
	}
	#nav li:first-of-type i.icon{display: block;}
	#nav li:hover{background: none;}
	#nav li:hover a{background: none;}
	#header #regLogBtn{border: none; height: 70px;}
	#nav li dl{
		width: 100%;display: none;background: none; margin-left: 0px; margin-bottom: 0px;
		border-bottom: 1px solid rgba(225,225,225,0.8);  padding-bottom: 20px;
	}
	#nav li:hover dl{display: none;}
	#nav li dl dd a,
	#header #regLogBtn a{border: none; padding: 0;}
	#nav li dl dd:hover a{color: #ffffff;}
	#header #regLogBtn div{
		border: 1px solid #ffffff; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
		height: 35px; line-height: 35px; font-size: 16px;margin-top: 20px;
	}
}