
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-weixin:before { content: "\e61f"; }
.icon-yiwen:before { content: "\e601"; }
.icon-jiantou:before { content: "\e61d"; }
.icon-zhengfu:before { content: "\e60f"; }
.icon-dianhua:before { content: "\e602"; }
.icon-weiwangzhan:before { content: "\e629"; }
.icon-yingxiao:before { content: "\e62a"; }
.icon-aixinjuanzeng:before { content: "\e610"; }
.icon-dayin:before { content: "\e620"; }
.icon-jikediancanicon45:before { content: "\e62d"; }
.icon-huiyuan:before { content: "\e61a"; }
.icon-msnui-user-analysis:before { content: "\e628"; }
.icon-sousuo:before { content: "\e600"; }
.icon-kehu:before { content: "\e62e"; }
.icon-guanli:before { content: "\e608"; }
.icon-jiabin:before { content: "\e609"; }
.icon-dingwei:before { content: "\e621"; }
.icon-crm:before { content: "\e623"; }
.icon-jiantou1:before { content: "\e603"; }
.icon-ananzuiconv266:before { content: "\e632"; }
.icon-liebiao:before { content: "\e618"; }
.icon-qizhi:before { content: "\e62b"; }
.icon-zhibo:before { content: "\e624"; }
.icon-xingweifenxi:before { content: "\e62f"; }
.icon-xingyexuke:before { content: "\e611"; }
.icon-xingyezoushi:before { content: "\e612"; }
.icon-industry1-copy:before { content: "\e613"; }
.icon-liwu:before { content: "\e622"; }
.icon-lianxiren:before { content: "\e60a"; }
.icon-qunzu:before { content: "\e61b"; }
.icon-maiziliao:before { content: "\e60b"; }
.icon-202:before { content: "\e604"; }
.icon-activity:before { content: "\e61e"; }
.icon-tuandui1:before { content: "\e605"; }
.icon-aliguanxi:before { content: "\e630"; }
.icon-bianji:before { content: "\e619"; }
.icon-app:before { content: "\e60c"; }
.icon-fanhui-copy:before { content: "\e631"; }
.icon-jiaoyu:before { content: "\e614"; }
.icon-3:before { content: "\e615"; }
.icon-gengduo:before { content: "\e627"; }
.icon-diannao:before { content: "\e60d"; }
.icon-icon:before { content: "\e606"; }
.icon-h5:before { content: "\e626"; }
.icon-tagmultiple:before { content: "\e62c"; }
.icon-yiliaomedical46:before { content: "\e616"; }
.icon-dingwei1:before { content: "\e625"; }
.icon-hezuoxinxi:before { content: "\e607"; }
.icon-artboard17:before { content: "\e60e"; }
.icon-keyan:before { content: "\e617"; }
.icon-msg:before { content: "\e61c"; }
.icon-unif029:before { content: "\e633"; }
