<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>幸会APP使用指南</title>
</head>
<style type="text/css">
body{
font-size:38px;
line-height:290dp;
}
</style>
<body>
<h1 style="font-size:50px;color:#333333;font-weight:normal;text-align:center;font-family:&quot;background-color:#FFFFFF;">
	幸会APP使用指南
</h1>
<p style="font-family:&quot;color:#333333;background-color:#FFFFFF;">
	　　北京同舟鸿图文化创意有限公司成立于2011年，公司以“真诚、热情、专业、细致”为服务理念，立足于“精品、专业、创新”的发展战略，秉承“同舟共济大展鸿图”的精神与客户以及公 司团队成员风雨同舟，齐心协力，实现共同发展！ 
</p>
<p style="font-family:&quot;color:#333333;background-color:#FFFFFF;">
	　　公司目前有设计部、软件开发部、排版部三个主要部门，平面设计主要从事大型企事业单位的VI、宣传册、宣传页、展板、期刊、报纸等平面媒体的创意设计，为客户提供设计、排版、印刷等一系列服务。 　　软件开发主要从事为大型企业、政府事业单位、各大院校提供软件开发,手机app服务。设计秉承“自然为主、兼顾人文”，使客户能够享受到真正大自然的生机与活力。 网络定制应用，为客户提供移动应用，推广宣传企业品牌，并为企业定制移动APP应用，便于企业文化建设，树立品牌形象。 我们是一个充满生机与智慧的年轻团队，我们拥有梦想，充满激情，期待和您的合作。
</p>
<p style="font-family:&quot;color:#333333;background-color:#FFFFFF;">
	　　会议APP系统（MCS）是根据政府、企事业单位、学校等单位实际应用需求而提供一套完整的、便捷的会议移动应用解决方案。
</p>
<p style="font-family:&quot;color:#333333;background-color:#FFFFFF;">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		倡导“无纸化全媒体会议”理念，协助更丰富的会议资讯更便捷、安全的传递，极强的扩展功能和定制化的服务可满足不同组织机构对会议移动应用的多种要求。
</p>
<p style="font-family:&quot;color:#333333;background-color:#FFFFFF;">
	<strong>应用特点</strong>
</p>
<p style="font-family:&quot;color:#333333;background-color:#FFFFFF;">
	　　1、注册登录之后，认证为企业后即可发布会议
</p>
<p style="font-family:&quot;color:#333333;background-color:#FFFFFF;">
	　　2、贴心个人服务，智能管理多场会议信息
</p>
<p style="font-family:&quot;color:#333333;background-color:#FFFFFF;">
	　　3、开启全新的现代化会议模式
</p>
<p style="font-family:&quot;color:#333333;background-color:#FFFFFF;">
	　　4、节约纸张，使用方便，会议资料下载更高效
</p>

</body>
</html>