 <layout name="layout" />

<webuploadercss />
  <div class="page-content">
      
      <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
      
      <!-- END STYLE CUSTOMIZER -->
      <!-- BEGIN PAGE HEADER-->
      <h3 class="page-title">
      企业产品
      </h3>
      <div class="page-bar">
        <ul class="page-breadcrumb">
          <li>
            <i class="fa fa-home"></i>
            <a href="#">首页</a>
            <i class="fa fa-angle-right"></i>
          </li>
          <li>
            企业产品
          
          </li>
          
        </ul>
        
      </div>
      
      <!--中间部分-->
      <!-- BEGIN PAGE CONTENT-->
       <div class="tabbable-custom tabbable-full-width">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="{:U('Product/add')}" ><i class="fa fa-tags"></i>新建产品</a>
				</li>
			</ul>
			<div class="portlet-body form" >
				<form class="form-horizontal " action="__SELF__" method="post" id="myform">
						 <div class="form-body">
							<div class="form-group">
								<label class="col-md-3 control-label">产品标题</label>
								<div class="col-md-5">
									<input type="text" class="form-control"  name="title"  placeholder="请输入产品标题,标题不能为空" datatype="*" nullmsg="产品标题不能为空" errormsg="请输入产品标题"   value="">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">产品链接</label>
								<div class="col-md-5">
									<input type="text" class="form-control"  name="bullurl"  placeholder="请输入产品链接，例:http://www.baidu.com" datatype="url" nullmsg="请输入产品链接" errormsg="产品链接格式不对，请重新填写" value="">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">图片上传</label>
								<div class="col-md-9">
									<webuploaderavatar name="pic" url="{:U('Attachment/product_upload')}" word="最多可选1张,限制10M,支持gif,jpg,jpeg,png,bmp格式"/> 
								</div>
							</div>
							
						 </div>
					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-3 col-md-9">
								<button type="submit" class="btn green btn-lg" id="save">提交</button>
								<button type="reset" class="btn default btn-lg">重置</button>
							</div>
						</div>
					</div>
					</form>

			</div>
        
      <!-- END PAGE CONTENT-->
            <!--中间部分-->
          
    </div>
  </div>
 <script>
 $(function() {     

	$("#myform").Validform({
		tiptype:4,
		label:".label",
		showAllError:true,		
	});
});
	
</script>
<include file="Public/footer" />
<webuploaderjs />


  
  
  
  