<layout name="layout" />

<!-- 日期时间插件 -->
<script src="__LAYDATE__/laydate.js"></script> 
<script>
//执行一个laydate实例
laydate.render({
  elem: '.form-datetime',
  type: 'datetime',
  format: 'yyyy-MM-dd HH:mm:ss'
});

</script>
	<div class="page-content">
			
		<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
		
		<!-- END STYLE CUSTOMIZER -->
		<!-- BEGIN PAGE HEADER-->
		<h3 class="page-title">
		会议调查问卷
		</h3>
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<i class="fa fa-home"></i>
					<a href="#">首页</a>
					<i class="fa fa-angle-right"></i>
				</li>
				<li>
					会议调查问卷
				
				</li>
				
			</ul>
			
		</div>
		
		<!--中间部分-->
		<!-- BEGIN PAGE CONTENT-->
		 <div class="tabbable-custom tabbable-full-width">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="JavaScript:;" ><i class="fa fa-tags"></i>添加问题</a>
						</li>
						<li class="">
							<a href="{:U('Conferencereport/index',array('id'=>I('get.id')))}" ><i class="fa fa-tags"></i>会议调查报告</a>
						</li>
						
					</ul>
				<div class="portlet-body form" >
				 
					<form class="form-horizontal"   action="" method="post" id="myform">
					<input type="hidden" name="prot_id" value="{$questionnaire.id}">
						<input type="hidden" id="questionnaire_type" value="{$questionnaire.type}">
						<input  type="hidden" name="conf_id" value="{:I('get.id')}" />
						<input  type="hidden" name="user_id" value="{:cookie(userid)}" />
						<div class="form-body">
							<div class="form-group">
								<label class="col-md-3 control-label">问题名称</label>
								<div class="col-md-8">
									<input type="text" class="form-control"  name="title" placeholder="请填写您对本次会议的调查问题"  value="" datatype="*"  nullmsg="问题名称不能为空" errormsg="请正确输入问题名称">
									<span style="color:red"></span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">问题选项</label>
								<div class="col-md-8  option-list"></div>
								
									<volist name="optionsList" id="item">
									<switch name="item.type">
										<case  value="radio">
											<div class="option-item radio_option">
												<input name="-" type="radio" <?php if(isset($standardList[$i-1]))echo 'checked' ?> />
												<div>
													<input type="text" value="{$item.text}" class="form-control" placeholder="请输入选项文本" />
													<img class="option-del" src="__HOME_IMG__/btn-del.png" title="删除该选项">
												</div>
											</div>
										</case>

										<case  value="checkbox">
											<div class="option-item checkbox_option">
												<input type="checkbox" <?php if(isset($standardList[$i-1]))echo 'checked' ?> />
												<div>
													<input type="text" value="{$item.text}" class="form-control" placeholder="请输入选项文本" />
													<img class="option-del" src="__HOME_IMG__/btn-del.png" title="删除该选项">
												</div>
											</div>
										</case>

										<case  value="text">
											<div class="option-item text_option">
												<textarea class="form-control">{$standardList}</textarea>
												<img class="option-del" src="__HOME_IMG__/btn-del.png" title="删除该选项">
											</div>
										</case>

										<case  value="radio_othertext">
											<div class="option-item radio_othertext_option">
												<input name="-" type="radio" <?php if(isset($standardList[$i-1]))echo 'checked' ?> />
												<div>
													<strong style="position: absolute;line-height: 25px;">其他：</strong>
													<input style="margin-left:40px;opacity: <?php if($questionnaire['type']=='exam')echo '1';else echo '0.3'; ?>;" type="text" class="form-control" value="<?php if(isset($standardList[$i-1]))echo $standardList[$i-1]  ?>" <?php if($questionnaire['type']!='exam')echo 'disabled'; ?> />
													<img class="option-del" src="__HOME_IMG__/btn-del.png" title="删除该选项">
												</div>
											</div>
										</case>

										<case  value="checkbox_othertext">
											<div class="option-item checkbox_othertext_option">
												<input type="checkbox" <?php if(isset($standardList[$i-1]))echo 'checked' ?> />
												<div>
													<strong style="position: absolute;line-height: 25px;">其他：</strong>
													<input style="margin-left:40px;opacity: <?php if($questionnaire['type']=='exam')echo '1';else echo '0.3'; ?>;" type="text" class="form-control" value="<?php if(isset($standardList[$i-1]))echo $standardList[$i-1]  ?>" <?php if($questionnaire['type']!='exam')echo 'disabled'; ?> />
													<img class="option-del" src="__HOME_IMG__" title="删除该选项">
												</div>
											</div>
										</case>
									</switch>
								</volist>
								
							</div>
							<div class="form-group">
							<label class="col-md-1 col-xs-12 control-label"></label>
							<div class="col-md-2 col-xs-12">                                            
								<div class="btn-group">
								  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									<span class="glyphicon glyphicon-plus"></span>
									添 加 选 项 
								  </button>				
								  <ul class="dropdown-menu alter-option-list" role="menu">
									<li><a type="radio" class="btn" href="#"> 单 选 项 </a></li>
									<li><a type="checkbox" class="btn" href="#"> 多 选 项 </a></li>
									<li><a type="text" class="btn" href="#"> 文 本 输 入 </a></li>
									
								  </ul>
								</div>
							</div>
							
							<present name="errorNote">
								<div class="alert alert-danger" role="alert">
									<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
									<strong>{$errorNote}</strong>
								</div>                        
							</present>	    
						</div>
												
						</div>	
						<div class="form-actions">
							<div class="row">
								<div class="col-md-offset-3 col-md-9">
									<button type="submit" class="btn green btn-lg" id="save">提交</button>
							<button type="reset" class="btn default btn-lg">重置</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			
		<!-- END PAGE CONTENT-->
		<!--中间部分-->
	  
		</div>
	</div>
	<!-- END CONTENT -->
	
</div>
<script type="text/javascript">
$(function() {
	
	$("#myform").Validform({
		tiptype:4,
		showAllError:true,
		ajaxPost:true,
		callback:function(data){ 
			if(data.status == 1){
			
				layer.msg(data.info, { icon: 1, time: 3000 ,shade: 0.5},function(){
					window.location.href= "{:U('Conferencereport/index',array('id'=>I('get.id')))}";
						
				});
			} else{
				
				layer.msg(data.info, {icon: 2, time: 300000,shade: 0.5 },function(){
					window.location.reload();
					});
			}
		} 
	});
	
})	

	
</script>
<script type="text/javascript" src="__HOME_JS__/questions-optionManager.js" charset="utf-8"></script>

<include file="Public/footer" />


	
	
	
	